/* Global Styles */
*{
    margin: 0;
	padding: 0;
	align-items: center;
    
}




/*======== Navigatiion Bar ========*/  
#nav-bar {
	position: sticky;
	top: 0; 
	z-index: 10;
	

}

.navbar-brand img {
	padding: -15px;
	float: left;
	position: relative;	
	height: 120px;
	margin-top: -50px;
}

.navbar-nav li {
	padding: 0 10px;
	margin-top: 13px;
}

.navbar-nav li a{
	float: left;
	text-align: left;
	font-family: 'Merienda', cursive;
} 

#nav-bar ul li a:hover{
	color: #0f5EEE !important;
}

.navbar {
	background-color:white;
	border-radius: none !important;
	
}

.navbar-toggler {
	border: none !important;
}

.nav-link {
	color:#000!important;
	font-weight: 900;
	font-size: 18px;
	font-family: 'Merienda', cursive;
}



#nav-bar .dropdown-menu {
	padding-top: 0;
	margin-top: -10px;
	text-align: left;
	padding-left: -10px;
	border-width: 50%;
}
#nav-bar .dropdown-menu a .dropdown-item {
	text-align: left;

}
#nav-bar .dropdown{
	position: relative;
	display: block;
	padding-left: -10px;

}

#nav-bar .dropdown-menu {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
}
#nav-bar .dropdown:hover .dropdown-menu {
	display: block;
}

#nav-bar .btn {
	float: right;
	margin: 5px;
	border-radius: 5px;
	background-color: #e37a23;
	margin-right: 10px;
	margin-top: 20px;
}
#nav-bar .btn:hover {
	background-color: #415c97 ;
	color: white;
}


/*=============Main content =========== */

#main-content {
	background: url(/static/images/evers.jpg);
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;;
	height: 600px;
	margin-top: -20px;
	padding: 15%;
	align-items: center;
	text-align: center;
	width: 100%;
	background-attachment: fixed;
}


#main-content h1{
	font-family: 'Merienda', cursive;
	letter-spacing: 2px;
	line-height: 50px;
	text-transform: uppercase;
	color: white;
	font-size: 40px;
	padding-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
}

#main-content p {
	color: white;
	font-family: 'Covered By Your Grace', cursive;
	line-height: 25px;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 20px;
}

#main-content .banner{
	z-index: 1;
	width: 100%;
	align-items: center;
	background-color:rgba(214, 200, 200, 0.404);
	border-radius: 7px;
	text-align: justify;
	display: block;	
	padding: 15px;
	text-transform: uppercase;
	margin-top: -5px;
}

#main-content input[type=search] {
	padding: 10px;
	width: 100%;
	border: 1px solid grey;
	height: 40px;
	border-radius: 5px;
	margin: 5px auto;
}
#main-content input[type=date] {
	padding: 10px;
	width: 100%;
	border: 1px solid grey;
	height: 40px;
	border-radius: 5px;
	color: black;

}

#main-content input[list=guests] {
	padding: 10px;
	width: 100%;
	border: 1px solid grey;
	height: 40px;
	border-radius: 5px;
	color: black;
}

#main-content .btn {
	margin-top: 5px;
	padding: 7px;
	font-family: "Roboto", sans-serif;
	background-color: #e37a23;
	font-weight: 900;
}
#main-content .btn:hover {
	background: #415c97;
	
}

#main-content label{
	text-align: center;
	color: white;
}
#main-content input{
	margin-top: -7px;
}

#main-content .form-container {
	padding-left: 0px;
	margin-bottom: -15px;
}
#main-content .form-group {
	display: inline-block;
	width: 32%;
}

@media only screen and (max-width: 450px){
	#main-content .banner {
		margin-top: -10px;
	}
}

/*====== Hotels ======= */

.destinations {
	background-color: #ebebeb;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.destinations .topic{
	text-align: center;
	margin-top: -10px;
	display: inline-block;
	margin-left: 24%;
	padding: 5px;
	margin-top: 5px;
}

.destinations .title {
	padding-left: 3px;
	margin: 5px;
	text-transform: uppercase;
	font-weight: 600;
}

.destinations .city {
	padding-left: 3px;
	margin: 5px;
}
.destinations .price {
	padding-left: 3px;
	margin: 5px;
}

.destinations .row {
	display: inline-block;
	margin: 10px auto;
}
.destinations .col {
	background-color: white;
	padding: 20px;
	width: 300px !important;
	height: 50%;
	display: inline-block;
	margin-left: 42px;
	margin-top: 10px;
	border-radius: 3px;
	transition-duration: 0.7s;
	cursor: pointer;

}
.destinations .col:hover {
	transform: translateY(-5px);
}
.destinations .col img {
	width: 255px;
	height: 150px;
	border-radius: 2px;
}

.destinations .view {
	display: inline-block;
	width: 100%;
	align-items: center;
}
.destinations .city, .location {
	display: block;
	padding: 5px;
	margin: 2px;
	margin-top: -7px;	
}
.hotels .btn {
	padding: 5px;
	float: right;
	margin: 5px;
}
.destinations .btn {
	margin-top: 5px;
	padding: 7px;
	font-family: "Roboto", sans-serif;
	background-color: #e37a23;
	font-weight: 700;
}
.destinations .btn:hover {
	background: #415c97;
	color: white;

	
}

.destinations .star-rating {
	color: orange;
	width: 100%;
	align-items: center;
	padding-left: 9px;
	margin-top: -5px;
	margin-bottom: 2px;
}
.destinations .item-price {
	padding-left: 3px;
	margin: 5px;
	font-weight: 500;
}

@media only screen and (max-width: 550px) {
	.destinations .topic{
		margin-left: 13%;
	}
	.destinations .row {
		display: inline-block;
		padding: 10px;
	}
	.destinations .col {
		display: inline-block;
		margin-left: 11px;
		padding: 10px;
		margin-top: 5px;
		width: 140px !important;
	}

	.destinations .view {
		display: inline-block;
		padding: 5px;
		align-items: center;
	
	}
	.destinations .city {
		display: inline-block;
		padding: 5px;
	}
	
	.destinations .btn {
		padding: 3px;
		margin-top: 2px;
		margin-left: 2px;
		float: left;
	}
	.destinations .col img {
		width: 120px;
		height: 100px;

	}
	
}


/* ========== About Section ========= */
.about-section {
	background: url(/static/images/Nep4.jpg);
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;;
	overflow: hidden;
	padding: 100px 0;
	background-color:rgb(255, 255, 255);
	height: 600px;
	margin-top: -20px;
}
.about-section .inner-container {
	font-family: "Roboto", sans-serif;
	width: 55%;
	float: right;
	padding: 100px ;
	border-radius: 10px;
	padding: 5px;
	background-color:rgba(180, 173, 173, 0.623);
	
}

.about-section .inner-container  h1 {
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	color: white;
	
}

.about-section .inner-container .text {
	font-size: 15px;
	color: white;
	line-height: 30px;
	text-align: justify;
	margin-bottom: 40px;	
	padding: 5px;	
	margin-top: -20px;
}

@media only screen and (max-width: 550px){
	.about-section .inner-container .text {
		text-align: justify;
	}
}

/* Team section */
.team-section {
	margin-top: 10px;
	background-color: #ffffff;
	position: relative;
	margin-top: -20px;
}
.team-section h1 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 50px;
	font-weight: 500;
	margin-bottom: 20px;
	text-align: center;
}

.team {
	display: flex;
	text-align: center; 
	width: auto;
	justify-content: center;
	margin-top: -10px;
}


.team .text {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
	font-weight: 200;
	
	text-align: justify;
}

.team .team-member {
	margin:10px;
	margin-bottom: 50px;
	width: 300px;
	line-height: 20px;
	color: #000;
	position: relative;
}
.team .team-member img {
	border-radius: 50%;
}

.team .team-member h3 {
	color: black;
	font-size: 26px;
	margin-top: 50px;
	font-weight: 400;


}

.team .team-member p.role {
	font-weight: 500;
	color: rgba(0, 0, 0, 0.8);
	font-size: 15px;
	text-transform: capitalize;
	margin: 12px;

}

@media only screen and (max-width: 500px) {
	.team .team-member {
		margin:5px;
		margin-bottom: 50px;
		width: 150px;
		line-height: 20px;
		color: #000;
		position: relative;
		padding: 5px;
	}

	.team .team-member img {
		width: 75%;
		position: relative;
		border-radius: 50%;
	}

}




/*=======Footer========*/

footer {
	color: #fff;
	background-color:rgba(126, 83, 135, 0.9);
	padding-left: 10px;
	font-family: 'Roboto', sans-serif;
}

.footer-sec {
	text-align: center;
}
.footer-sec .social-content {
	margin-top: -10px;
	padding-top: 0;
}
.footer-sec p a {
	font-size: large;
	padding: 20px;
}

.list-unstyled a {
	color: white;
}



footer .fa {
	padding: 5px;
	font-size: 20px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	margin: 2px 0;
	box-sizing: border-box;
	border-radius: 20px;
}
footer .fa:hover {
	opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
	background: #007bb5;
	color: white;
} 
.fa-youtube {
background: #bb0000;
color: white;
}
.fa-instagram {
background: #125688;
color: white;
}


.footer-copyright span .copyright{
	margin-bottom: -10px;
}

hr.footer-line{
	border-top: 1px solid black;

}



/*=====Log in ======*/
.form-signin {
	margin: 100px 0;
	padding: 0;
	background-color: white;
}

.form-signin img {
	max-width: 25%;
	max-height: 25%;
	align-items: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.form-signin h1 {
	text-emphasis: none;
	color:black;
	font-size: 30px;
	font-weight: 500;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
}

.form-signin input[type=text]{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 50%;
	border-width: 2px;
	border-color: #e37a23;
	height: 40px;
	border-radius: 10px;
}
.form-signin input[type=password]{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 50%;
	border-width: 2px;
	border-color: #e37a23;
	height: 40px;
	border-radius: 10px;
}
.form-signin .btn{
	padding: 5px 10px;
	background-color: #e37a23;
}
.form-signin .btn:hover {
	color: #fff;
	background: #0f5EEE;
	border-color: #000;
	opacity: 0.8;	
}
.form-signin button{
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.form-signin span.psw {
	float: right;
	padding-top: 16px;
  }
.form-signin .container {
	margin-top: 20px;
	padding: 16px;
  }

.form-signin .cancelbtn {
	width: auto;
	padding: 10px 20px;
	background-color: #f44336;
	height: 40px;
	border-radius: 10px;
	color: white;
	
  }

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
	   display: block;
	   float: none;
	}
	.cancelbtn {
	   width: 100%;
	}
  }


/*======= Sign Up =====*/
.singup-form{
	background-color: white;
	font-family: "Roboto" sans-serif;
	margin: 30px 20px 20px 20px;
	padding: 40px;
}

.singup-form .container {
	background-color: #EAEAEA;
	border-radius: 5px;
	align-items: center;
	width: 80%;
}

.singup-form h1 {
	text-align: center;
}

.singup-form input[type=text] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #fff4f4;
	border-radius: 5px;
  }

.singup-form input[type=email] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #fff4f4;
	border-radius: 5px;
  }
.singup-form input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #fff4f4;
	border-radius: 5px;
  }
  .singup-form input[type=number] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #fff4f4;
	border-radius: 5px;
  }
.singup-form button {
	background-color: #e37a23;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
  }
.singup-form button:hover {
	opacity:1;
  }



.singup-form img{
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.singup-form .after {
	border: 2px solid #415c97;
	border-radius: 75px;
	width: 60%;
	margin-left: 20%;
	margin-top: -2px;
}
.singup-form hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
  }
.singup-form .cancelbtn{
	float: left;
	width: 50%;
	background-color: #415c97;
  }
.singup-form .signupbtn {
	float: left;
	width: 50%;
	background-color: #e37a23;
  }

.singup-form .signupbtn:hover {
	background: #415c97;
	color: white;
  }
.singup-form .container {
	padding: 16px;
  }
.singup-form .clearfix::after {
	content: "";
	clear: both;
	display: table; 
  }

@media only screen and (max-width: 450px){
	.singup-form {
		padding: 20px 50px;
		
	}
}


/*======= Terms & conditions ====== */

#terms-conditions .container {
	width: 100%;
	text-align: justify;
	font-family: "Roboto" sans-serif;
	margin-top: -20px;
}



/*======= User Profile ====== */

#billing-page {
	margin-top: -20px;
	background-image: linear-gradient(135deg, #98D9F3, #F3B298);
	padding: 30px;
}

.col-50,
.col-75 {
padding: 0 16px;
}

#billing-page .row {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap; 
flex-wrap: wrap;
margin: 0 -16px;
} 


#billing-page .col-50 {
-ms-flex: 50%; 
flex: 50%;
}

#billing-page .col-75 {
-ms-flex: 75%; 
flex: 75%;
}

#billing-page .column2 {
	margin-top: -6px;
}
#billing-page .container {
	background-color: #f2f2f2;
	padding: 10px 25px 20px 25px;
	border: 1px solid lightgrey;
	border-radius: 12px;
}

#billing-page  input[type=text], input[type=number], input[type=date], input[type=email]{
	width: 100%;
	margin-bottom: 10px;
	padding: 12px;
	border: 1px solid  #e37a23;
	border-radius: 5px;
	line-height: 15px;
	font-family: 'Roboto' sans-serif;
}

#billing-page label {
margin-bottom: 10px;
display: block;
}

#billing-page .icon-container {
margin-bottom: 20px;
padding: 7px 0;
font-size: 24px;
}

#billing-page .btn {
	background-color:#e37a23;
	color: white;
	padding: 12px;
	margin: 5px 0;
	border: none;
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
}


#billing-page .btn:hover {
background-color: #415c97;
}

#billing-page h3 {
	text-align: center;
	font-weight: 700;
	font-size: 30px;
}

#billing-page hr {
	border: 1px solid lightgrey;
}

#billing-page span.price {
	float: right;
	color: grey;
}

@media (max-width: 800px) {
	.row {
	  flex-direction: column-reverse;
	}
	.col-25 {
	  margin-bottom: 20px;
	}
  }


/*======= Hotels ====== */
.hotels {
	background-color: #ebebeb;
	margin-top: -20px;

}
.hotels .topic{
	text-align: center;
	margin-top: -10px;
	display: inline-block;
	margin-left: 35%;
	padding: 20px;
	margin-top: 5px;

}

.hotels .title {
	margin-top: 4px;
	font-weight: 600;

}

.hotels .row-1 {
	display: inline-block;
	width: 100%;
	padding: 5px;
}
.hotels .col1 {
	font-family: "Roboto", sans-serif;
	width: 20%;
	display: inline-block;
	height: 550px;
	background: white;
	float: left;
	margin-top: 35px;
	padding: 5px;
	border-radius: 5px;
	margin-left: 25px;
	background-image: linear-gradient(135deg, white, #f5f4f4);
}
.hotels .col1 .filter {
	margin-top: 30px;

}
.hotels .col2 {
	width: 70%;
	display: inline-block;
	margin-left: 10px;
	height: 100%;
	float: right;
}


.hotels .row {
	display: inline-block;
	margin: 10px auto;
	margin-right: -15px;
}
.hotels .col {
	background-color: white;
	padding: 20px;
	width: 300px !important;
	height: 50%;
	display: inline-block;
	margin-left: 24px;
	margin-top: 10px;
	border-radius: 3px;
	transition-duration: 0.7s;
	cursor: pointer;
}
.hotels .col:hover {
	transform: translateY(-5px);
}
.hotels .col img {
	width: 100%;
	height: 150px;
	border-radius: 2px;
}

.hotels .view {
	display: inline-block;
	width: 100%;
	align-items: center;
}
.hotels .city, .location {
	display: block;
	padding: 5px;
	margin: 2px;
	margin-top: -10px;
}

.hotels .btn {
	padding: 5px;
	float: right;
	margin: 5px;
}
.hotels .btn {
	margin-top: 5px;
	padding: 7px;
	font-family: "Roboto", sans-serif;
	background-color: #e37a23;
	font-weight: 700;
}

.hotels .btn:hover {
	background: #415c97;
	color: white;
	
}

.hotels .star-rating {
	color: orange;
	width: 100%;
	align-items: center;
	padding: 2px;
	margin-bottom: -10px;
	padding-left: 9px;
}

.hotels .item-price {
	padding-left: 3px;
	margin: 5px;
	font-weight: 500;
}


.hotels .sort {
	border: 1px solid black;
	float: right;
	margin-right: 50px;
	border-radius: 3px;
}


@media only screen and (max-width: 550px) and (max-width: 850px) {
	.hotels .topic{
		margin-left: 25%;
	}
	.hotels .row {
		display: inline-block;
		padding: 10px;
	}
	.hotels .col {
		display: inline-block;
		margin-left: 8px;
		padding: 10px;
		margin-top: 5px;
		width: 140px !important;
	}

	.hotels .view {
		display: inline-block;
		padding: 5px;
		align-items: center;
	
	}
	.hotels .city {
		display: inline-block;
		padding: 5px;
	}
	
	.hotels .btn {
		padding: 3px;
		margin-top: 2px;
		margin-left: 2px;
		float: left;
	}	
	.hotels .col1 {
		margin-top: 42px;
		margin-left: 10px;
		width: 25%;
	}
	.hotels .sort {
		margin-right: 30px;

	}
	
}


/*==== Filters ==== */
.rating{
	float: left;
}

.rating > input{
	display: none;
}

.rating > label:before{
	content: '\f005';
	font-family: FontAwesome;
	margin: 5px;
	font-size: 1.5rem;
	display: inline-block;
	cursor: pointer;
}


.rating > label{
	color: #0f5EEE;
	float: right;
	cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover {
	color: orange;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
	color: orange;
}


@media only screen and (max-width: 550px) {
	.rating > label:before {
		margin-right: 2px;
	}

}


/*====== Product Details ======*/

#details {
	margin-top: 30px;
	margin-bottom: 30px;

	
}
#details .col img {
	padding: 15px;
	margin-top: 15px;
	border-radius: 1px;	
}

#details .col{
	padding: 5px;
	margin: 5px;
} 

#details h4 {
	margin-top: 3px;
	font-size: 22px;
	font-weight: bold;
}
#details .col h4{
	text-align: justify;
}
#details h5 {
	font-size: 16px;
	font-weight: 600;
}

#details .col p {
	padding: 4px auto;
	margin-top: -7px;
	text-align: justify;
}

#details .btn {
	margin-top: 10px;
	text-align: center;
	width: 50%;
	background-color: #415c97;
	border: none
}
#details .btn:hover {
	background-color: #415c97;
}

#details .small-img-row {
	display: flex;
	justify-content: space-between;
}
#details .small-img-col {
	flex-basis: 24%;
	cursor: pointer;
}
#details input[type=text] {
	padding: 10px;
	width: 100%;
	border: 1px solid grey;
	height: 40px;
	border-radius: 5px;
	margin: 5px auto;
}
#details input[type=date] {
	padding: 10px;
	width: 100%;
	border: 1px solid grey;
	height: 40px;
	border-radius: 5px;
	color: black;

}

#details input[list=guests] {
	padding: 10px;
	width: 100%;
	border: 1px solid grey;
	height: 40px;
	border-radius: 5px;
	color: black;
}

#details .btn {
	margin-top: 2px;
	font-family: "Roboto", sans-serif;
	background-color: #e37a23;
	font-weight: 900;
	width: 25%;
}
#details .btn:hover {
	background: #415c97;
	
}

#details label{
	margin-top: 10px;
	text-align: center;
	color:black;
}
#details input{
	margin-top: 1px;
}

#details .form-container {
	margin-top: -15px;
	padding-left: 0px;
}
#details .form-group {
	display: inline-block;
	width: 32%;
}

#details .topic{
	text-align: center;
	margin-top: -10px;
	display: inline-block;
	margin-left: 35%;
	padding: 20px;
	margin-top: 5px;

}

#details .title {
	margin-top: 4px;
}
#details .after {
	border: 2px solid #415c97;
	border-radius: 75px;
	width: 60%;
	margin-left: 20%;
	margin-top: -2px;
}

#details .star-rating {
	color: orange;
	width: 100%;
	align-items: center;
	font-size: 15px;
	margin-top: -3px;
	margin-bottom: 3px;
}


@media only screen and (max-width: 450px){
	#details .col img {
		padding: 5px;
	}

}


/*Review */

#reviews {
	margin-top: -20px;
	padding: 5px 20px;
	margin-bottom: 20px;

}

.tab button {
	display: inline-block;
	background-color:#E2E3E3;
	color: black;
	padding: 10px 10px;
	border: none;
	outline: none;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
	border: 1px solid #ccc;
	font-weight: 800;
	border-radius: 5px;
	width: 32.5%;
}

.tab button:hover {
	background-color: #e37a23;
}
.tab button.active {
	background-color: #415c97;
	color: white;
}

#reviews .fa{
	color: orange;	
}

#reviews .text-right .btn{
	background-color:#e37a23;
	color: white;
	padding: 5px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
	margin: 10px;
}

#reviews .btn:hover {
	background-color: #415c97;
	
}

#reviews .review-form input {
	width: 100%;
	margin-top: 5px;
}

#reviews .review-form textarea {
	width: 100%;
}

.message{
	float: left; 
	margin-left: 20px; 
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700; 
	background-color: rgb(178, 223, 178);
	padding: 7px; 
	border-radius: 5px;
	font-size: 12px;
}


#notification {
	padding: 50px;
}
#notification .container{
	border-radius: 5px;
	margin-bottom: 0px;
	background-color: rgb(223, 238, 223);
	max-width: 400px;
	max-height: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
}
#notification .noti-item {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 15px;
	font-weight: 800;
}

/* about section 1 is for contact us */
.about-section1 {
	background: url(/static/images/Bhu1.jpg);
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;;
	overflow: visible;
	padding: 50px ;
	padding-right: auto;
	background-color:rgb(255, 255, 255);
	height: 600px;
	margin-top: 0px;
}
.about-section1 .inner-container {
	font-family: "Roboto", sans-serif;
	width: 50%;
	float: left;
	border-radius: 10px;
	background-color:rgba(180, 173, 173, 0.623);
	
}

.about-section1 .inner-container  h1 {
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	color: rgb(0, 0, 0);
	
}


.about-section1 .inner-container  p, h4 {
	margin-bottom: 10px;
	font-weight: 500;
	text-align: center;
	color: white;
	
}

.about-section1 .inner-container .text {
	font-size: 15px;
	color: white;
	line-height: 10px;
	text-align: justify;
	margin-bottom: 40px;	
	padding: 5px;	
	margin-top: -20px;
}

@media only screen and (max-width: 550px){
	.about-section1 .inner-container .text {
		text-align: justify;
	}
}

#cart-page {
	margin: 80px auto;
}
#cart-page .row-11 {
	border-collapse: collapse; 
	margin-left: auto;
	margin-right: auto;
	
}

#cart-page table {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding: auto 20px;

}
 #cart-page .cart-info {
	 display: flex;
	 flex-wrap: wrap;
 }
 #cart-page th {
	 text-align: left;
	 padding: 5px;
	 margin-left: 50px;
	 color: #fff;
	 background-color:#e37a23;
	 height: 40px;
 }

 #cart-page td {
	 padding: 10px 5px;
 }
 
 #cart-page td input {
	 width: 40px;
	 height: 30px;
	 padding: 5px;
	 border-radius: 7px;
 }

 #cart-page td a {
	 color: #e37a23;
	 font-size: 12px;

 }

 #cart-page td img {
	 width: 80px;
	 height: 80px;
	 margin-right: 10px;
 }

 .total-price {
	 display: flex;
	 justify-content: flex-end;
 }

 .total-price table {
	 border-top: 3px solid #ff523b;
	 margin-left: 80%;
	 max-width: 100%;
 }

 td:last-child {
	 text-align: right;
 }
 th:last-child {
	text-align: right;
}

#cart-page .total-price td {
	padding: 1px;
}

#cart-page .btn {
	background-color:#e37a23;
	color: white;
	padding: 12px;
	margin: 10px 0;
	border: none;
	width: 50%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
}
#cart-page .btn {
	margin-left: 40%;
}
	
	
#cart-page .btn:hover {
	background-color: red;
}


/* slider*/

#carousel-slider {
margin:0;
padding:0;
border:0;
}

#carousel-slider .carousel-indicators{
width: 150px;
background: rgb(65, 59, 59);
bottom: -50px;
margin-left: -50px;
border-radius: 20px;
border-color: black;


}
#carousel-slider img {
width: 100%;
height: 400px;
}

.carousel-indicators {
align-items: center;
align-content: center;
}

/* trending products */
.container .row {
margin-top: 40px;
padding-top: 10px;
}



.carousel {
margin: 50px auto;
padding: 0 70px;
border: 5px solid black;
}
.carousel .item {
min-height: 330px;
text-align: center;
overflow: hidden;
margin-top: -30px;
}

.carousel .item .img-box {
height: 100px;
width: 100%;
position: relative;
}
.carousel .item img {	
max-width: 100%;
max-height: 5cm;
display: inline-block;
position: absolute;
bottom: 0;
margin: 0 auto;
left: 0;
right: 0;
}
.carousel .item h4 {
font-size: 18px;
margin: 10px 0;
}
.carousel .item .btn {
color: #333;
border-radius: 0;
font-size: 11px;
text-transform: uppercase;
font-weight: bold;
background: none;
border: 1px solid #ccc;
padding: 5px 10px;
margin-top: 5px;
line-height: 16px;
border-radius: 10px;
}
.carousel .item .btn:hover, .carousel .item .btn:focus {
color: #fff;
background:#007bff;
border-color: #000;
box-shadow: none;
}
.carousel .item .btn i {
font-size: 14px;
font-weight: bold;
margin-left: 5px;
}
.carousel .thumb-wrapper {
text-align: center;
}
.carousel .thumb-content {
padding: 15px;
}
.carousel .carousel-control {
height: 100px;
width: 40px;
background: none;
margin: auto 0;
background: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-control i {
font-size: 30px;
position: absolute;
top: 50%;
display: inline-block;
margin: -16px 0 0 0;
z-index: 5;
left: 0;
right: 0;
color: rgba(0, 0, 0, 0.8);
text-shadow: none;
font-weight: bold;
}
.carousel .item-price {
font-size: 13px;
padding: 2px 0;
}
.carousel .item-price strike {
color: red;
margin-right: 5px;
}
.carousel .item-price span {
color: black;
font-size: 110%;
}
.carousel .carousel-control.left i {
margin-left: -3px;
}
.carousel .carousel-control.left i {
margin-right: -3px;
}
.carousel .carousel-indicators {
bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
width: 10px;
height: 10px;
margin: 4px;
border-radius: 50%;
border-color: transparent;
}
.carousel-indicators li {	
background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
background: rgba(0, 0, 0, 0.6);
}



.pagination {
	margin-left: 50%;
}

.pagination strong{
	font-size: 25px;
;
}
.pagination a{
	font-size: 25px;
	margin-right: 10px;
	background-color: lightblue;
	border-color: lightblue;
	border: lightblue;
	border-radius: 5px;
	padding: 3px auto;

}


/*==== Search =====*/

.search {
	background-color: #ebebeb;
	display: block;

}
.search .topic{
	text-align: center;
	margin-top: -10px;
	display: block;
	padding: 5px;
	margin-top: 5px;
	
}

.search .title {
	padding-left: 3px;
	margin: 5px;
	text-transform: uppercase;
	font-weight: 600;
}

.search .city {
	padding-left: 3px;
	margin: 5px;
}
.search .price {
	padding-left: 3px;
	margin: 5px;
}

.search .row {
	display: inline-block;
	margin: 10px auto;
}
.search .col {
	background-color: white;
	padding: 20px;
	width: 300px !important;
	height: 50%;
	display: inline-block;
	margin-left: 24px;
	margin-top: 10px;
	border-radius: 3px;
	transition-duration: 0.7s;
	cursor: pointer;

}
.search .col:hover {
	transform: translateY(-5px);
}
.search .col img {
	width: 255px;
	height: 150px;
	border-radius: 2px;
}

.search .view {
	display: inline-block;
	width: 100%;
	align-items: center;
}
.search .city, .location {
	display: block;
	padding: 5px;
	margin: 2px;
	margin-top: -7px;	
}
.hotels .btn {
	padding: 5px;
	float: right;
	margin: 5px;
}
.search .btn {
	margin-top: 5px;
	padding: 7px;
	font-family: "Roboto", sans-serif;
	background-color: #e37a23;
	font-weight: 700;
}
.search .btn:hover {
	background: #415c97;
	color: white;

	
}

.search .star-rating {
	color: orange;
	width: 100%;
	align-items: center;
	padding-left: 9px;
	margin-top: -5px;
	margin-bottom: 2px;
}
.search .item-price {
	padding-left: 3px;
	margin: 5px;
	font-weight: 500;
}

@media only screen and (max-width: 550px) {
	.search .topic{
		margin-left: 10%;
	}
	.search .row {
		display: inline-block;
		padding: 10px;
	}
	.search .col {
		display: inline-block;
		margin-left: 11px;
		padding: 10px;
		margin-top: 5px;
		width: 140px !important;
	}

	.search .view {
		display: inline-block;
		padding: 5px;
		align-items: center;
	
	}
	.search .city {
		display: inline-block;
		padding: 5px;
	}
	
	.search .btn {
		padding: 3px;
		margin-top: 2px;
		margin-left: 2px;
		float: left;
	}
	.search .col img {
		width: 120px;
		height: 100px;

	}
	
}