{% extends 'base.html' %}
{% block title %} Billing {% endblock %}
{% block body %}
{% load static %}
      
      <!-----Cart Items Details ----->
   
      
        <section id="billing-page">
            <div class="col-75">
              <div class="container">
                <form class="checkout-form" action="" method="POST">
                    {% csrf_token %}
                  <div class="row">
                    <div class="col-50">
                      <h3>Billing </h3>
                      <div class="row"> 
                            
                            <div class="col-50">
                            <label for="state">First Name</label>
                            <input type="text" id="state" name="first_name" placeholder="First Name" value="{{ user.first_name }}">
                            </div>
                            <div class="col-50">
                            <label for="zip">Last Name</label>
                            <input type="text" id="lastnaem" name="last_name" placeholder="Lant Name" value="{{ user.last_name }}">
                            </div>
                            </div>
                            <label for="email"> Email</label>
                            <input type="email" id="email" name="email" placeholder="Email" value="{{ user.email }}">
                            <label for="city"> Contact</label>
                            <input type="text" id="city" name="contact" placeholder="Contact" value="{{ profile.contact }}">
                            <label for="adr">Address</label>
                            <input type="text" id="adr" name="address" placeholder="Address" value="{{ profile.address }}">
                            <div class="row">
                                <div class="col-50">
                                <label for="state">Guest</label>
                                <input type="number" id="state" name="guest" placeholder="Guest" value="{{ booking.guest }}">
                                </div>
                                <div class="col-50">
                                <label for="zip">Guest Name</label>
                                <input type="text" id="zip" name="guest_name" placeholder="Guest Name seperated with comma" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-50">
                                <label for="state">Check In</label>
                                <input type="text" id="state" name="check_in"  value="{{ booking.check_in }}">
                                </div>
                                <div class="col-50">
                                <label for="zip">Check Out</label>
                                <input type="text" id="zip" name="check_out"  value="{{ booking.check_out }}">
                                </div>
                            </div>  
                        
                    </div>

          
                    <div class="col-50 column2">
                      <h3>Payment</h3>
                      <label for="fname">Accepted Cards</label>
                      <div class="icon-container">
                        <i class="fa fa-cc-visa" style="color:navy;"></i>
                        <i class="fa fa-cc-amex" style="color:blue;"></i>
                        <i class="fa fa-cc-mastercard" style="color: red;"></i>
                        <i class="fa fa-cc-paypal" style="color:blue;"></i>
                      </div>
                      <div class="row">
                        <div class="col-50">
                        <label for="state">Hotel</label>
                        <input type="text" id="state" name="hotel" placeholder="Hotel" value="{{ booking.hotel.title }}">
                        </div>
                        <div class="col-50">
                        <label for="zip">Total</label>
                        <input type="number" id="zip" name="total" placeholder="totoal" value="{{ booking.amount }}">
                        </div>
                    </div>
                    
                      <label for="cname">Name on Card</label>
                      <input type="text" id="cname" name="cname" placeholder="Name">
                      <label for="ccnum">Card number</label>
                      <input type="number" id="ccnum" name="ccnum" placeholder="0000-0000-0000-0000">
                      <label for="expmonth">Exp Month</label>
                      <input type="text" id="expmonth" name="expmonth" placeholder="September">
                      <div class="row">
                        <div class="col-50">
                          <label for="expyear">Exp Year</label>
                          <input type="number" id="expyear" name="expyear" placeholder="2020">
                        </div>
                        <div class="col-50">
                          <label for="cvv">CVV</label>
                          <input type="number" id="cvv" name="cvv" placeholder="123">
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  <input type="submit" value="Pay" class="btn">
                </form>
              </div>
            </div>
          </div>
            
        </section>

      

      


{% endblock %} 

{% block footer %} {% include 'footer.html' %}{% endblock %}