{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block body %}
{% load static %}

{% load socialaccount %}
{% providers_media_js %}
<!-- {% if messages %}
        {% for message in messages %}
        <div class="message">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %} -->



<form class="singup-form" action="" method="POST"> 
    {% csrf_token %} 
    <img src="{% static ''%}images/download.png">
    <h1 class="h3 mb-3 font-weight-normal">Please Login</h1> 
    <label for="username" class="sr-only">Username</label>
    <input name="username" type="text" placeholder="Username" required autofocus>
    <br>

    <label for="Password" class="sr-only">Password</label>
    <input name="password" type="password" placeholder="Password" required>

    
    <button type="submit" class="btn btn-primary btn-lg" value="Login">Login</button>
    <div class="google-container">
        <a class="google" href="{% provider_login_url "google" %}"> Sign in with Google Account</a>
        <div class="create-1">
            <span class="psw"><a href="/signup/"> Create an account</a></span>
        </div>
    </div>

</form>



<style>
    .google-container {
        display: inline-block;
        width: 100%;
        padding: 5px auto;
    }
    .create-1 {
        display: inline-block;
        float: right;
        font-size: 15px;
        font-family: "Roboto", sans-serif;
        padding: 5px;
        border-radius: 3px;
        
    }
    .google {
        display: inline-block;
        font-size: 15px;
        font-family: "Roboto", sans-serif;
        padding: 5px;
        border-radius: 3px;
        
    }

    .create-1:hover{
        color: black;
    }
</style>

    
{% endblock %} 

{% block footer %} {% include 'footer.html' %}{% endblock %}