{% extends 'base.html' %}
{% block title %} Update Password {% endblock %}
{% block body %}


  

    <div class="container">
      <h1>Update Password</h1>

      <form class="singup-form" method= "POST">
        {% csrf_token %}
        <fieldset>
            {{ password_form.as_p }}
        </fieldset>
        <div class="clearfix">
            <button type="submit" class="signupbtn">Update</button>
        </div>
      </form>



{% endblock %} 

{% block footer %} {% include 'footer.html' %}{% endblock %}