{% extends 'base.html' %}
{% block title %} Update Profile {% endblock %}
{% block body %}
{% load static %}



    <div class="container">
      <h1>Update My Profile</h1>

      <form class="singup-form" method= "POST">
        {% csrf_token %}
        <fieldset>
            {{ userupdate_form.as_p }}
            {{ profileupdate_form.as_p }}
        </fieldset>
        <div class="clearfix">
            <button type="submit" class="signupbtn">Update</button>
        </div>
      </form>



{% endblock %} 

{% block footer %} {% include 'footer.html' %}{% endblock %}