{% extends 'base.html' %}
{% block title %} Bhutan  {% endblock %}
{% block body %}
{% load static %}

<section class="hotels">
    <div class="topic">
      <h2 class="title">Hotels In Bhutan</h2>
      <div class="after"></div>
    </div>
    <div class="row-1">
        <div class="col1">
          <h3>Filters</h3>
          <form class="singup-form" method="GET">
              {{ filter.form.as_p }}
              <input type="submit" value=" Filter">

          </form>
        </div>


          
        <div class="col2">
              <div class="row">
                {% for hotel in hotels %}
                  <div class="col">
                    <a href="/hotel/{{ hotel.id }}/{{ hotel.slug }}">
                      <img src="{{ hotel.image }}" alt="">
                    </a>
                    <div class="star-rating">
                      <i class="fa fa-star{% if hotel.averagerev < 1 %}-o empty{% endif %}"></i>
                      <i class="fa fa-star{% if hotel.averagerev < 2 %}-o empty{% endif %}"></i>
                      <i class="fa fa-star{% if hotel.averagerev < 3 %}-o empty{% endif %}"></i>
                      <i class="fa fa-star{% if hotel.averagerev < 4 %}-o empty{% endif %}"></i>
                      <i class="fa fa-star{% if hotel.averagerev < 5 %}-o empty{% endif %}"></i>    
                    </div>
                    <p class="item-price" style="text-transform: uppercase;"><span>{{ hotel.title }}</span></p>
                    <p class="item-price"><span>Rs.{{ hotel.price }}/night</span></p>
                    <p class="city">{{hotel.location}}</p>
                    <div class="view">
                      <a href="/hotel/{{ hotel.id }}/{{ hotel.slug }}" class="btn btn-primary">View Details</a>
                      <a href="/wishlist/wishlistcart/{{ hotel.id }}/" class="btn btn-secondary">Add to Wishlist</a>                    </div>
                  </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

  </section>

  <div class="pagination">  
    {% if hotels.has_previous %}
        <a href="?page=1"> << </a>
        <a href="?page={{ hotels.previous_page_number }}"> < <Last></a>
    {% endif %}
      <strong>{{ hotels.number }}</strong>    
    {% if hotels.has_next %}
    <a href="?page={{ hotels.next_page_number }}">></a>
    <a href="?page={{ hotels.paginator.num_page }}"> >></a>
{% endif %}
  </div>

  

{% endblock %}
{% block footer %} {% include 'footer.html' %}{% endblock %}