{% extends 'base.html' %}
{% block title %} Contact Us  {% endblock %}

{% block body %}
<section>
    <div class="about-section1">
        <div class="inner-container">
            <h1>Our Office</h1>
        <div class= "office">

            <hr>

            <h4 ><strong>Address:</strong> </h4>

            <p >Kijowska 7/U5</p>
            <p >Warsaw, 03-738</p>
            <p >Poland</p>

            <hr>



            <h4 ><strong>Contact:</strong></h4>

            <p ><strong>Email:</strong>noxx@info.com</p>
            <p ><strong>Phone:</strong>2343425</p>
            <p ><strong>Customer Service:</strong>1600-56978976</p>

            <hr>

            <h4 ><strong>Company tax ID:</strong></h4>

            <p >US2542911940</p>
        </div>
    </div>
</section>
<section class="team-section1">
    <div class="inner-container">
        <h3 style="text-align: center;">Contact Us</h3>

        <form class="singup-form" method= "POST">
            {% csrf_token %}
            <fieldset>
              {{ form.as_p }}
          </fieldset>
          <div class="clearfix">
            <button type="submit" class="signupbtn">Submit Review</button>
          </div>
          </form>
        

    </div>
        
    </div>
</section>

{% endblock %}
{% block footer %} {% include 'footer.html' %}{% endblock %}
