{% extends 'base.html' %}
{% block title %} Contact Us  {% endblock %}

{% block body %}
<section>
    <div class="about-section">
        <div class="inner-container">
            <h1>About  B&N Hotels</h1>
            <p class="text">
              B&N Hotels offers ultimate comfort and luxury in two differen
              countries. The hotels are beautiful combination of 
              traditional grandeur and modern facilities. The 255 exclusive guest rooms 
              are furnished with a range of modern amenities such as 
              television and internet access.
            </p>
        </div>
    </div>
</section>
<section class="team-section">
    <div class="inner-container">
        <h1>Our Team</h1>
        <div class="team">
            <div class="team-member">
                <div class="team-img">
                    <img src="/images/download.png" alt="team_member_image">
                </div>
                <h3>Ashin Dai</h3>
                <p class="role">Manager</p>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Adipisci aliquid numquam eius ut nemo vitae in assumenda 
                    consequatur aliquam iure labore, hic, porro atque mollitia 
                    inventore officiis minus libero id.
                </p>
            </div>


            <div class="team-member">
                <div class="team-img">
                    <img src="/images/download.png" alt="team_member_image">
                </div>
                <h3>Jenish</h3>
                <p class="role">Back-End Developer </p>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Adipisci aliquid numquam eius ut nemo vitae in assumenda 
                    consequatur aliquam iure labore, hic, porro atque mollitia 
                    inventore officiis minus libero id.
                </p>
            </div>

            <div class="team-member">
                <div class="team-img">
                    <img src="/images/download.png" alt="team_member_image">
                </div>
                <h3>Nidup Dorji</h3>
                <p class="role">Front-End Developer</p>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Adipisci aliquid numquam eius ut nemo vitae in assumenda 
                    consequatur aliquam iure labore, hic, porro atque mollitia 
                    inventore officiis minus libero id.
                </p>
            </div>
        </div>
        
    </div>
</section>

{% endblock %}
{% block footer %} {% include 'footer.html' %}{% endblock %}
