<footer class="page-footer font-small stylish-color-dark pt-4">
    <div class="container text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">B&N Hotels</h5>
          <p>Book your holidays to the Himalayas. A wonderful scenery, innumberable adventures
            and perfect accommodation during your stay. We at B&N Hotels offer amazing services
            at a very reasonable price and we there are to make your trip a memorable one. Enjoy 
            your stay!
          </p>
        </div>

        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-2 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Useful Links</h5>
          <ul class="list-unstyled">
            <li>
              <a href="about.html">About Us</a>
            </li>
            <li>
              <a href="#!">FAQs</a>
            </li>
            <li>
              <a href="condition.html">Terms of Use</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  

    <hr>
    <div class="footer-sec">
      <h4 class="social-content">Connect With Us</h4>
      <p class="col-md-12 social">
        <a href="#"><span class="fa fa-facebook"></span></a>
        <a href="#"><span class="fa fa-twitter"></span></a>
        <a href="#"><span class="fa fa-instagram"></span></a>
        <a href="#"><span class="fa fa-linkedin"></span></a>
        <a href="#"><span class="fa fa-youtube"></span></a>
      </p>
    </div>
    

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">  
      <span class="copyright">&COPY;Copyright 2020 AP Programming. All rights reserved</span>
    </div>
  </footer>