{% extends 'base.html' %}
{% block body %}

    <body>
        <section id="main-content">
          <h1>B&N Hotels</h1>
          <p>Plan a trip up to the Himalayas.</p>
          <div class="banner">

            <!-- this script file for auto search has been copied from http://www.lalicode.com/post/5/ -->
            <script>

              $(function() {
                $("#search").autocomplete({
                  source: "/search_ajax/",
                  select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                  },
                  minLength: 2,
                });
              });
            
              function AutoCompleteSelectHandler(event, ui)
              {
                var selectedObj = ui.item;
              }
            
            </script>

            <form action= "/search/" method="POST">
              {% csrf_token %}
            <div class="form">
              
                <input type="search" id="search" placeholder="Where do you want to go?" name="query" aria-label="Search">
              
            </div>
              <button class="btn btn-primary" type="submit" style="display:block; margin-left: auto; margin-right: auto;">Let's go</button>
            
          </form>
          </div>
        </section>

        <section class="destinations">
          <div class="topic">
            <h2 class="title">Popular Destinations</h2>
            <div class="after"></div>
          </div>
          <div class="row">
            <div class="col">
              <a href="">
                <img src="/images/Bhu2.jpg" alt="">
              </a>
              <div class="view">
                <p class="city">Tiget Nest, Bhutan</p>
                <a href="#" class="btn btn-secondary">View Details</a>
              </div>
            </div>
            <div class="col">
              <a href="">
                <img src="/images/Nep4.jpg" alt="">
              </a>
              <div class="view">
                <p class="city">Kathmandu, Nepal</p>
                <a href="#" class="btn btn-secondary">View Details</a>
              </div>
            </div>
            <div class="col">
              <a href="">
                <img src="/images/Bhu5.jpg" alt="">
              </a>
              <div class="view">
                <p class="city">Punakha, Bhutan</p>
                <a href="#" class="btn btn-secondary">View Details</a>
              </div>
            </div>
            <div class="col">
              <a href="">
                <img src="/images/Nep8.jpg" alt="">
              </a>
              <div class="view">
                <p class="city">Pokhara, Nepal</p>
                <a href="#" class="btn btn-secondary">View Details</a>
              </div>
            </div>
            <div class="col">
              <a href="">
                <img src="/images/le meridian.jpg" alt="">
              </a>
              <div class="view">
                <p class="city">Paro, Bhutan</p>
                <a href="#" class="btn btn-secondary">View Details</a>
              </div>
            </div>
            <div class="col">
              <a href="">
                <img src="/images/moun1.jpg" alt="">
              </a>
              <div class="view">
                <p class="city">Annapurna, Nepal</p>
                <a href="#" class="btn btn-secondary">View Details</a>
              </div>
            </div>
          </div>

        </section>

        <section class="destinations">
          <div class="topic">
            <h2 class="title">Popular Hotels</h2>
            <div class="after"></div>
          </div>
          <div class="row">
          {% for hotel in hotels %}
            <div class="col">
              <a href="/hotel/{{ hotel.id }}/{{ hotel.slug }}">
                <img src="{{ hotel.image }}" alt="">
              </a>
             
              <div class="view">
                <div><h4 class="title">{{ hotel.title }}</h4></div>
                <div><p class="price">Rs. {{ hotel.price }} /night</p>
                <p class="city">{{ hotel.location }}, {{ hotel.country }}</p></div>
                <div class="star-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>    
                </div>
                <a href="/hotel/{{ hotel.id }}/{{ hotel.slug }}" class="btn btn-secondary">View Details</a>
              </div>
            </div>
          {% endfor %}

          </div>

        </section>


{% endblock %} 

{% block footer %} {% include 'footer.html' %}{% endblock %}
