{% extends 'base.html' %}
{% block title %} {{ hotel.title }}  {% endblock %}
{% block body %}
{% load static %}

<section id="details">
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="{{ hotel.image }}" width="100%" id="productImg">
          <div class="small-img-row">
            {% for pic in img %}
            <div class="small-img-col">
              <img src="{{ pic.image }}" width="100%" class="small-img">
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col">
          <h1> {{hotel.title}}, {{ hotel.location }}</h1>
          <div class="star-rating">
            <i class="fa fa-star{% if hotel.averagerev < 1 %}-o empty{% endif %}"></i>
            <i class="fa fa-star{% if hotel.averagerev < 2 %}-o empty{% endif %}"></i>
            <i class="fa fa-star{% if hotel.averagerev < 3 %}-o empty{% endif %}"></i>
            <i class="fa fa-star{% if hotel.averagerev < 4 %}-o empty{% endif %}"></i>
            <i class="fa fa-star{% if hotel.averagerev < 5 %}-o empty{% endif %}"></i> 
            {{ hotel.averagerev |stringformat:".1f" }}    
          </div>
          <h4>Rs.{{ hotel.price }}/night</h4>
          <h5><b>Location Overview</b></h5>
          <p>{{ hotel.location_overview }}
            </p>
          <p></p>
          <form method="POST" action="/hotel/booking/{{ hotel.id }}/">
            {% csrf_token %}
            <div class="form-container">
              <div class="form-group">
                <label for="check-in">Check In</label>
                <br>
                <input type="date" id="check-in" name="check_in" required>
              </div>

              <div class="form-group">
                <label for="check-in">Check Out</label><br>
                <input type="date" id="check-in" name="check_out" required>
              </div>

              <div class="form-group guest">
                <label for="guests">Guests</label><br>
                <input  class="input" name="guest" type="number" value="1" min="1" max="{{ hotel.rooms }}">
              </div>
            </div>
            <button class="btn btn-primary">Book</button>
            <a href="/wishlist/wishlistcart/{{ hotel.id }}/" class="btn btn-primary">Add to Wishlist</a>

          </form>

        </div>
      </div> 
    </div>
    
</section>

<section id="reviews">
    <div class="nav-tabs">
      <div class="tab">
        <button class="tablinks" onclick="openItem(event, 'Description')" id="defaultOpen">Description</button>
        <button class="tablinks" onclick="openItem(event, 'Information')">Amenities</button>
        <button class="tablinks" onclick="openItem(event, 'Reviews')">Reviews ({{ hotel.countrev }})</button>
      </div>
      <div id="Description" class="tabcontent">
        <h3 style="text-align: center;">Hotel Description</h5>
          
          <p>{{ hotel.description|safe }}
          </p>
        
      </div>
      
      <div id="Information" class="tabcontent">
      
        {{ hotel.amenities|safe }}
      </div>
      
      <div id="Reviews" class="tabcontent">
        <div class="row">
          {% for review in reviews %}
            <div class="col">
              <img src="{% static ''%}images/download.png" width="62" alt="Generic placeholder image">
              <div>
                <div>
                  <p>
                    <strong>{{ user.first_name}} {{ user.last_name}} </strong>
                    <span>– </span><span>{{ review.created }}</span>
                  </p>
                  <div class="star-rating">
                    <i class="fa fa-star{% if review.rate < 1 %}-o empty{% endif %}"></i>
                    <i class="fa fa-star{% if review.rate < 2 %}-o empty{% endif %}"></i>
                    <i class="fa fa-star{% if review.rate < 3 %}-o empty{% endif %}"></i>
                    <i class="fa fa-star{% if review.rate < 4 %}-o empty{% endif %}"></i>
                    <i class="fa fa-star{% if review.rate < 5 %}-o empty{% endif %}"></i>   
                  </div>
                </div>
                <p>{{review.comment}}</p>
              </div>
            </div>
          {% endfor %}
        </div>
          <hr>
          <h5>Add a review</h5>
          <form method="POST" action="/hotel/addreview/{{ hotel.id }}">
            {% csrf_token %}
              <fieldset class="rating">
                <input type="radio" id="star5" name="rate" value="5" /><label for="star5" title="Outstanding"></label>
                <input type="radio" id="star4" name="rate" value="4" /><label for="star4" title="Very Good"></label>
                <input type="radio" id="star3" name="rate" value="3" /><label for="star3" title="Good"></label>
                <input type="radio" id="star2" name="rate" value="2" /><label for="star2" title="Poor"></label>
                <input type="radio" id="star1" name="rate" value="1" /><label for="star1" title="Very Poor"></label>
              </fieldset>
              <div>
                <!-- Your review -->
                <div class="review-form">
                  <input type="text" id="form75" placeholder="Your Review" name = "comment">
                </div>
              {% if user.id is none %}
               <h4> Please Login to add review </h4>
              {% else %}
                <div class="text-right pb-2">
                  <button type="submit" class="btn btn-primary">Add a review</button>
                </div>
              {% endif %}
            </form>
          </div>
      </div>
    </div>

    <script>
      function openItem(evt, ItemName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(ItemName).style.display = "block";
        evt.currentTarget.className += " active";
      }
      document.getElementById("defaultOpen").click();
    </script>

<script>
    var productImg = document.getElementById("productImg");
    var SmallImg = document.getElementsByClassName("small-img");

        SmallImg[0].onclick = function()
        {
        productImg.src = SmallImg[0].src;
        }
        SmallImg[1].onclick = function()
        {
        productImg.src = SmallImg[1].src;
        }
        SmallImg[2].onclick = function()
        {
        productImg.src = SmallImg[2].src;
        }
        SmallImg[3].onclick = function()
        {
        productImg.src = SmallImg[3].src;
        }
</script>
</section>

<section class="destinations">
  <div class="topic">
    <h2 class="title">More Hotels</h2>
    <div class="after"></div>
  </div>
  <div class="row">
  {% for hotel in more_like %}
    <div class="col">
      <a href="/hotel/{{ hotel.id }}/{{ hotel.slug }}">
        <img src="{{ hotel.image }}" alt="">
      </a>
     
      <div class="view">
        <div><h4 class="title">{{ hotel.title }}</h4></div>
        <div>
          <p class="price">Rs. {{ hotel.price }} /night</p>
        <p class="city">{{ hotel.location }}, {{ hotel.country }}</p></div>
        <div class="star-rating">
          <i class="fa fa-star{% if hotel.averagerev < 1 %}-o empty{% endif %}"></i>
          <i class="fa fa-star{% if hotel.averagerev < 2 %}-o empty{% endif %}"></i>
          <i class="fa fa-star{% if hotel.averagerev < 3 %}-o empty{% endif %}"></i>
          <i class="fa fa-star{% if hotel.averagerev < 4 %}-o empty{% endif %}"></i>
          <i class="fa fa-star{% if hotel.averagerev < 5 %}-o empty{% endif %}"></i>  
        </div>
        <a href="/hotel/{{ hotel.id }}/{{ hotel.slug }}" class="btn btn-secondary">View Details</a>
      </div>
    </div>
  {% endfor %}

  </div>

</section>


{% endblock %}
{% block footer %} {% include 'footer.html' %}{% endblock %}